.form-control:focus,
.btn-workshop:focus{
    color: #495057;
    background-color: #fff;
    border-color: #950db7;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(180, 45, 224, 0.25);
}

.btn-workshop{
    color: #a71be0;
    border-color: #a71be0;
}

.btn-workshop:hover{
    color: #fff;
    background-color: #7c28a7;
    border-color: #7c28a7;
}
.card{
    margin: 15px;
}